<<<<<<< HEAD
body {
  background-color: gray;
  margin:0 auto;
}

button {
  margin-top: -10px;
}

=======
>>>>>>> cbeee34a156ebfebfcd420fcc6089dbddb423752
table {
  height: 900px;
  width: 100%;
  border-collapse: collapse;
}

td {
	border: 1px solid black;
  height: 5px;
  width: 5px;
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  background-color: black;
}

.alive {
  background-color: #FF00FF;
}

input {
  width: 300px;
=======
}

.alive {
  background-color: black;
>>>>>>> cbeee34a156ebfebfcd420fcc6089dbddb423752
}
