body {
  background-color: gray;
  margin:0 auto;
  font-family: cursive;
}

button {
  margin-top: -10px;
}

table {
  height: 900px;
  width: 100%;
  border-collapse: collapse;
}

td {
	border: 1px solid black;
  height: 5px;
  width: 5px;
  margin: 0;
  padding: 0;
  background-color: black;
}

.alive {
  background-color: #FF00FF;
}

input {
  width: 40px;
  border-radius: 20%;
}
